#formSel label {width: 150px; display: inline-block;}
#formSel input {width: 200px;}
#formSel span {width: 150px; display: inline-block;}
#formSel select {width: 200px;}
#formSel #buttonSel {width: 200px;}